@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

:root{
    --primary-color: #706fd6;
    --primary-light: #a0a3e879;
    --secondary-color: #31315c;
    --tertiary-color: #f7f6ff;
    --font-family: 'Cabin', sans-serif;
    --font-size-100: 2.5rem;
    --font-size-200: 1.5rem;
    --font-size-300: 1rem;
}

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  width: 100%;
  height: 100vh;
  background: url('../images/bg.jpg') no-repeat center center fixed;
  background-size: cover;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

ul
{
list-style: none;
padding: 0;
margin: 0;
}
*{
    font-family: var(--font-family);
}
a{
  text-decoration: none;
  color: inherit;
}
li:hover{
  background-color: var(--primary-light);
  color: white;
  transition: .3s;
}
li.active{
  background-color: var(--primary-light);
  color: black;
}
.logout{
    padding: 1rem;
    font-size: var(--font-size-300);
    background-color: #E94560;
    color: white;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: left;
    align-items: center;

}

section {
  overflow-y: auto;
}

section .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

section .head h1 {
  margin: 0;
}

section .head p {
  display: flex;
  font-size: var(--font-size-300);
  gap: .25rem;
  align-items: center;
}

section .head p i {
  margin-left: 1rem;
}

i {
  margin-right: 1rem;
}

h2 {
  font-size: 1.25rem !important;
}

/* ==================== BUTTON AND INPUT STYLES ==================== */

/* input {
    padding: .65rem .8rem;
    border: 1px solid var(--tertiary-color);
    border-radius: .5rem;
    font-size: var(--font-size-300);
    height: 2.5rem;
} */

button {
    padding: .65rem .8rem;
    font-size: .80rem;
    background-color: var(--secondary-color);
    color: #f7f6ff;
    border: none;
    border-radius: .5rem;
    cursor: pointer;
    height: 2.5rem;
}

button:hover {
    background-color: var(--primary-light);
    color: #474787;
    transition: .3s;
}

select, input {
    padding: .65rem .8rem;
    background-color: var(--primary-light);
    color: #474787;
    border-radius: .5rem;
    border: none;
    font-size: .85rem;
    height: 2.5rem;;
}
table, tr, td {
  background-color: white !important;
}
th {
  background-color: var(--primary-color) !important;
  color: white;
}
tr td:hover{
  background-color: var(--primary-light) !important;
}
@media print {
  .no-print {
    display: none !important;
  }

}