h1{
    margin-bottom: 2rem;
}

nav {
    width: 20%;
    height: 100vh;
    background-color: var(--primary-color);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 20rem;
}

nav i {
    margin-right: 1rem;
}

nav button{
    margin-bottom: 1rem;
    padding: 1rem;
    font-size: var(--font-size-300);
    background-color: var(--secondary-color);
    color: white;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    font-family: inherit;
}

nav button:hover {
    opacity: 0.9;
    background-color: var(--primary-light);
    color: black;
    transition: .3s;
}

nav button.active {
    background-color: var(--primary-light);
    color: black;
}

nav .logout{
    background-color: red;
}

a {
    text-decoration: none;
    color: inherit;
}