<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adjustments</title>
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/homeAdmin.css" />
    <link rel="stylesheet" href="/css/nav.css" />
    <link rel="stylesheet" href="/css/payroll.css" />
    <link rel="icon" type="image/webp" th:href="@{/images/cropped-D8-black-4.webp}">
    <script src="https://kit.fontawesome.com/b80e3de11b.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <nav th:replace="~{html/fragments/nav :: sidebar}"></nav>
        <section>
            <div class="head">
                <h1>Payroll adjustments</h1>
                <button type="button" class="btn-print no-print" onclick="window.print()"><i class="fa-solid fa-print"></i> Print</button>
            </div>
            <p class="no-payroll">Payroll adjustments (e.g. one-time bonuses, corrections) can be managed here. This section is available for future use.</p>
        </section>
    </div>
    <script src="/js/nav.js"></script>
</body>
</html>

