<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/employees.css">
    <script src="https://kit.fontawesome.com/b80e3de11b.js" crossorigin="anonymous"></script>
    <title>Digital8 Payroll System</title>
</head>
<body>
    <div class="container">
        <nav>
            <ul>
                <h1>Payroll System</h1>
                <li><i class="fa-solid fa-house"></i>Home</li>
                <li><i class="fa-solid fa-people-group"></i>Employees</li>
                <li><i class="fa-solid fa-gear"></i>Settings</li>
            </ul>
            <button>
                <i class="fa-solid fa-right-from-bracket"></i>Logout
            </button>
        </nav>
    
    <section>
        <div class="head">
            <input type="search" placeholder="Search employees..." />
            <div class="buttons">
                <button><i class="fa-solid fa-sort"></i> Sort by</button>
                <button><i class="fa-solid fa-magnifying-glass"></i>Search</button>
            </div>
        </div>

        <div class="employee-list">
            <h1>Employee List:</h1>
        </div>
    </section>
    </div>
</body>
</html>