<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
      <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/homeAdmin.css" />
    <script src="https://kit.fontawesome.com/b80e3de11b.js" crossorigin="anonymous"></script>
    <script src="/js/nav.js"></script>

</head>
<body>
     <div class="container">
        <nav>
            <ul>
                <h1>Payroll System</h1>
                <li><button onclick="navigateTo('/employee/home')"><i class="fa-solid fa-house"></i>Home</button></li>
                <li><button onclick="navigateTo('/employee/attendance')"><i class="fa-solid fa-people-group "></i>Attendance</button></li>
                <li class="active"><button onclick="navigateTo('/employee/settings')"><i class="fa-solid fa-gear"></i>Settings</button></li>
            </ul>
            
            <button onclick="navigateTo('/logout')" class="logout"><i class="fa-solid fa-right-from-bracket"></i>Logout</button>

        </nav>
    <section>
        <div class="head">
            <h1>Settings</h1>
            <p>
                Hello, ${employeeName}!
                <i class="fa-solid fa-circle-user"></i>
            </p>
        </div>
        
    </section>
    </div>
</body>
</html>